.single-professor{
    border:1px solid lightgray;
    border-radius: 5px;
    background-color: #F5f7ff;
}

.single-professor img{
    border-radius: 49%;
    padding: 20px;
  
}
.btn{
    width: 150px;
    border:1px solid lightgray;
    border-radius: 5px;
    height: 30px;
    background-color: goldenrod;
    cursor: pointer;
    color: white;
}